html {
    font-family: 'Nanum Gothic', sans-serif;
    background: url(https://media.proprofs.com/images/QM/user_images/2290773/1531093844.jpeg);
    background-repeat: no-repeat;
    background-size:cover;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main {
    width: 45%;
    height: 12%;
    text-align: center;
    border-radius: 10px;
    margin: 7%;
    margin-left: 29%;
    background: linear-gradient(135deg, rgb(162, 160, 158), rgb(2, 42, 69));

}

.content {
    padding-top: 10%;
    padding-bottom: 19%;
}
